<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1570776787-j2bp0l2h78dc3bdnq5a2n4g9cp2g0oai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1570776787-j2bp0l2h78dc3bdnq5a2n4g9cp2g0oai</string>
	<key>API_KEY</key>
	<string>AIzaSyAjzemH7o7RTRNgSh0OWZhHVJdbIxTRqKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1570776787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chethanarowell.pulse</string>
	<key>PROJECT_ID</key>
	<string>pulse-f8eab</string>
	<key>STORAGE_BUCKET</key>
	<string>pulse-f8eab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1570776787:ios:b525cd24f561bb6a2f1626</string>
</dict>
</plist>